<main>

  
 
<div class="card-container">
  
      <a href="/agregar-votante" class="card-link">
    <div class="card ">
      <img src="/images/icons/votos.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Agregar Votantes</h3>
      </div>
    </div>
  </a>
  
 

  <a href="/agregar-subcoordinadores" class="card-link">
    <div class="card">
      <img src="/images/icons/subcoordinadora.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Agregar Subcoordinador</h3>
      </div>
    </div>
  </a>

  <a href="/agregar-dirigente" class="card-link mr-5">
    <div class="card">
      <img src="/images/icons/dirigente.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Agregar Dirigente</h3>
      </div>
    </div>
  </a>



   <a href="/subcoordinadores" class="card-link">
    <div class="card ">
      <img src="/images/icons/subcoordinador.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Subcoordinadores</h3>
      </div>
    </div>
  </a>
   <a href="/dirigentes" class="card-link">
    <div class="card">
      <img src="/images/icons/diri.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Dirigentes</h3>
      </div>
    </div>
  </a>
    <a href="/votantes" class="card-link">
    <div class="card">
      <img src="/images/icons/votos.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Votantes</h3>
      </div>
    </div>
  </a>

</div>

</main>