<main>

  
 
<div class="card-container">
  
      <a href="/agregar-votante" class="card-link">
    <div class="card ">
      <img src="/images/icons/votos.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Agregar Votantes</h3>
      </div>
    </div>
  </a>
  


  
  
    <a href="/votantes" class="card-link">
    <div class="card">
      <img src="/images/icons/votos.png" alt="Imagen" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Votantes</h3>
      </div>
    </div>
  </a>

</div>

</main>