<main>
    <form action="/agregar-votante" method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
    </div>
    <div>
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" name="cedula" required>
    </div>
    <div>
        <label for="numeroTelefono">Número de Teléfono:</label>
        <input type="text" id="numeroTelefono" name="numeroTelefono" required>
    </div>
    <div>
        <label for="activo">Activo:</label>
        <input type="checkbox" id="activo" name="activo">
    </div>
    <div>
        <label for="sector">Sector:</label>
        <input type="text" id="sector" name="sector">
    </div>
    <div>
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia">
    </div>
    <button type="submit">Agregar Votante</button>
</form>
</main>