<main>
<div class="container">
  <h2 class="heading">Agregar Dirigente</h2>
  <div class="form-container">
    <form class="form" action="/agregar-dirigente" method="POST">
      <div class="input-field">
        <input type="text" id="nombre-dirigente" name="nombre" required>
        <label for="nombre-dirigente">Nombre:</label>
      </div>
      <div class="input-field">
        <input type="text" id="apellido-dirigente" name="apellido" required>
        <label for="apellido-dirigente">Apellido:</label>
      </div>
      <div class="input-field">
        <input type="text" id="cedula-dirigente" name="cedula" required>
        <label for="cedula-dirigente">Cédula:</label>
      </div>
      <div class="input-field">
        <input type="text" id="numeroTelefono-dirigente" name="numeroTelefono" required>
        <label for="numeroTelefono-dirigente">Número de Teléfono:</label>
      </div>
      <div class="input-field">
        <input type="text" id="provincia-dirigente" name="provincia" required>
        <label for="provincia-dirigente">Provincia:</label>
      </div>
      <div class="input-field">
        <input type="text" id="sector-dirigente" name="sector" required>
        <label for="sector-dirigente">Sector:</label>
      </div>
      <div class="input-field">
        <input type="text" id="casaElectoral-dirigente" name="casaElectoral" required>
        <label for="casaElectoral-dirigente">Casa Electoral:</label>
      </div>
         <input type="hidden" id="subCoordinadoresId" name="subCoordinadoresId" value="29CD4997-B7D6-4EF6-9BB8-94CBB72215FC">
      <div class="btn-container">
        <button class="btn" type="submit">Añadir Dirigente</button>
      </div>
    </form>
  </div>
</div>

</main>
 