<main>
<div class="container">
  <div class="heading">Añadir Coordinador</div>
  <div class="form-container">
    <form action="/agregar-coordinadores" method="POST" class="form">
      <div class="input-field">
        <input type="text" id="nombre" name="nombre" required>
        <label for="nombre">Nombre:</label>
      </div>
      <div class="input-field">
        <input type="text" id="apellido" name="apellido" required>
        <label for="apellido">Apellido:</label>
      </div>
      <div class="input-field">
        <input type="text" id="cedula" name="cedula" required>
        <label for="cedula">Cédula:</label>
      </div>
      <div class="input-field">
        <input type="text" id="numeroTelefono" name="numeroTelefono" required>
        <label for="numeroTelefono">Número de Teléfono:</label>
      </div>
      <div class="input-field">
        <input type="text" id="provincia" name="provincia" required>
        <label for="provincia">Provincia:</label>
      </div>
      <div class="input-field">
        <input type="text" id="sector" name="sector" required>
        <label for="sector">Sector:</label>
      </div>
      <div class="input-field">
        <input type="text" id="casaElectoral" name="casaElectoral" required>
        <label for="casaElectoral">Casa Electoral:</label>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn">Añadir Coordinador</button>
      </div>
    </form>
  </div>
</div>

</main>