<main>
     <h1>Listado de Grupos</h1>
     <h2>Si desea agregar grupos pulse este boton</h2>
     <a href="" class="navigation-button button-new-group">Agregar nuevo grupo</a>
    <ul class="lista-grupo">
        {{#each grupos}}
            <li>{{this}}</li> 
        {{/each}}
    </ul>
</main>