<main>

   <a href="/grupos" class="navigation-button">Grupos</a>
    <a href="/coordinadores" class="navigation-button">Coordinadores</a>
    <a href="/subcoordinadores" class="navigation-button">Subcoordinadores</a>
    <a href="/dirigentes" class="navigation-button">Dirigentes</a>
    <div class="contador-votos">
        Votos: <span class="fw-bold">1500</span>
    </div>
</main>