@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar{
background-color: #9B3922;
}

  
  
  .navigation-button {
	width: 150px; 
	padding: 10px;
	margin: 0 10px; 
	border: none;
	border-radius: 5px;
	background-color: #FFA500; 
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-align: center; 
	text-decoration: none;
  }
  
 
  .navigation-button:hover {
	background-color: #FF8C00; 
  }
  
.btn-outline{
	background-color: black;
}

.contador-votos {
	margin-top: 20px; 
	font-size: 24px; 
	color: red; 
	font-weight: bold;
  }
  
  .lista-grupo{

	margin-top: 25px;
  }

  .container {

	background-color: #fff;
	text-align: center;
	margin-top: px;
	
	
  }
  
  .container .heading {
	font-size: 1.3rem;
	margin-bottom: 20px;
	font-weight: bolder;
  }
  
  .form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  .form .btn-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
  }
  
  .form .btn {
	padding: 10px 20px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 10px;
	border: solid 1px #FF8911; 
	border-bottom: solid 1px #FF8911; 
	background: linear-gradient(135deg, #FF8911, #FF8911); 
	color: #fff;
	font-weight: bolder;
	transition: all 0.2s ease;
	box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #FF8911,
	  inset 0px -4px 5px #FF8911; 
  }
  
  .form .btn:active {
	box-shadow: inset 0px 4px 5px #FF8911, inset 0px -4px 5px #FF8911; 
	transform: scale(0.995);
  }
  
  .input-field {
	position: relative;
  }
  
  .input-field label {
	position: absolute;
	color: #FF8911; 
	pointer-events: none;
	background-color: transparent;
	left: 15px;
	transform: translateY(0.6rem);
	transition: all 0.3s ease;
  }
  
  .input-field input {
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 8px;
	border: solid 1px #FF8911; 
	letter-spacing: 1px;
	width: 100%;
  }
  
  .input-field input:focus,
  .input-field input:valid {
	outline: none;
	border: solid 1px #FF8911; 
  }
  
  .input-field input:focus ~ label,
  .input-field input:valid ~ label {
	transform: translateY(-51%) translateX(-10px) scale(0.8);
	background-color: #fff;
	padding: 0px 5px;
	color: #FF8911; 
	font-weight: bold;
	letter-spacing: 1px;
	border: none;
	border-radius: 100px;
  }
  
  .form .passicon {
	cursor: pointer;
	font-size: 1.3rem;
	position: absolute;
	top: 6px;
	right: 8px;
  }
  
  .form .close {
	display: none;
  }
  
  .form-container {
	max-width: 300px;
	margin: 50px auto 0;

  }





  .select-field {
	position: relative;
  }
  
  .select-field select {
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 8px;
	border: solid 1px #FF8911;
	letter-spacing: 1px;
	width: 100%;
	appearance: none; 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	background: transparent; 
  }
  
  .select-field select:focus,
  .select-field select:valid {
	outline: none;
	border: solid 1px #FF8911;
  }
  
  .select-field select:focus ~ label,
  .select-field select:valid ~ label {
	transform: translateY(-51%) translateX(-10px) scale(0.8);
	background-color: #fff;
	padding: 0px 5px;
	color: #FF8911;
	font-weight: bold;
	letter-spacing: 1px;
	border: none;
	border-radius: 100px;
  }



  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

.logo-container {
    width: 200px; 
    display: flex;
    align-items: center; 
}

.logo {
    max-width: 200px;
    max-height: 200px; 
}
.card-container {
    flex: 1; 
    display: flex;
    align-items: center; 
    margin-left: 300px; 
}
  
  .card-link {
	
	text-decoration: none;
	color: inherit;
	margin: 0 10px; 
  }
  
  .card {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
	width: 100%;
	height: auto;
  }
  
  .card-body {
	text-align: center;
  }
  
  .card-title {
	
	margin-bottom: 8px;
	font-size: 1rem;
  }


.Director{
	margin-bottom: 40px;
	width: 431px; 
    display: flex;
    align-items: center; 
	margin-left: 740px;

  }

  .votos{
margin-top: 20px;
display: grid;
place-items: center;

  }


  .navbar-brand{
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /
  }